$minSizeMobile: 400px;

.portada {
  width: 100%;
  padding: {
    top: 70px;
    bottom: 70px;
  };

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 12px;

    img {
      width: 160px;
    }

    @media (max-width: $minSizeMobile) {
      img { width: 140px }
    }
  }

  .titulos {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    
    img.titulo {
      width: 400px;
    }

    img.sub-titulo {
      width: 220px;
      margin-top: -5px;
    }

    @media (max-width: $minSizeMobile) {
      img.titulo { width: 300px }

      img.sub-titulo { width: 190px }
    }
  }
}

@media (max-width: $minSizeMobile) {
  .portada {
    padding: {
      top: 120px;
      bottom: 120px;
    };
  }
}