$minSizeMobile: 400px;

.portada {
  width: 100%;
  padding: {
    top: 60px;
    bottom: 60px;
  };

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 16px;

    img {
      width: 150px;
    }

    @media (max-width: $minSizeMobile) {
      img { width: 130px }
    }
  }

  .titulos {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    
    h1 {
      font-size: 60px;
      color: #fdfdfd;
    }

    .sub-titulo {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      h5 {
        font-size: 27px;
        color: #dbdbdb;
      }

      .barra-escribir {
        font-size: 21px;
        display: inline-block;
        width: 1px;
        height: 19px;
        margin-left: 4px;
      }
    }

    @media (max-width: $minSizeMobile) {
      h1 { font-size: 52px }

      .sub-titulo {
        h5 { font-size: 25px }

        .barra-escribir { height: 17px; }
      }
    }
  }
}

@media (max-width: $minSizeMobile) {
  .portada {
    padding: {
      top: 100px;
      bottom: 100px;
    };
  }
}